---
import Arya from "../../assets/game-of-thrones/arya-stark.webp";
---

<div class="relative w-full h-full">
    <div class="bg-white px-2 py-2">
        <h3 class="font-sans text-xl font-black leading-tight text-black">
            GOT
        </h3>
    </div>
    <img
        src={Arya.src}
        alt="Arya Stark from Game of Thrones"
        class="absolute bottom-0 left-1/2 w-16 -translate-x-1/2 sm:left-10 sm:w-18 sm:translate-x-0"
        transition:name="arya-stark"
    />
</div>
