
---
import Arya from "../../assets/game-of-thrones/arya-stark.webp";
---

<div class="relative w-full h-full">
    <div class="absolute top-[1.4rem] left-0 -rotate-[7.3deg] bg-white px-6 py-2 w-100">
        <h3 class="font-sans text-xl font-black leading-tight text-black">
            GENESSIS PORTFOLIO
        </h3>
    </div>
    <p class="font-sans text-sm font-semibold leading-relaxed text-black/80">
        goli
    </p>
</div>
