---
import Arya from "../../assets/game-of-thrones/arya-stark.webp";
---

<div class="relative w-full h-full">
    <div class="absolute top-[1.15rem] -left-2 -rotate-[6.4deg] bg-white px-6 py-2 w-120">
        <h3 class="font-sans text-xl font-black leading-tight text-black">
            PDF CERTIFICATE GENERATOR
        </h3>
    </div>
    <p class="font-sans text-sm font-semibold leading-relaxed text-black/80">
        goli
    </p>
</div>
