
<div class="relative w-full h-full">
    <div class="bg-white px-3 py-2 w-96">
        <h3 class="font-sans text-xl font-black leading-tight text-black">
            LANDINGS CCD
        </h3>
    </div>
</div>
