---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Header from '../components/Header.astro';
import Projects from '../components/Projects.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Header />
	<main class="scroll-smooth">
		<Hero />
		<Projects />
		

		<section id="experiencies" class="grid min-h-screen place-items-center scroll-mt-24">
			<h2 class="font-sans text-[clamp(2rem,4vw,3.5rem)] text-[#1d1d1d]">Experiencies</h2>
		</section>

		<section id="skills" class="grid min-h-screen place-items-center scroll-mt-24">
			<h2 class="font-sans text-[clamp(2rem,4vw,3.5rem)] text-[#1d1d1d]">Skills</h2>
		</section>

		<section id="contact" class="grid min-h-screen place-items-center scroll-mt-24">
			<h2 class="font-sans text-[clamp(2rem,4vw,3.5rem)] text-[#1d1d1d]">Contact</h2>
		</section>
	</main>
</Layout>
