---
import PaulCartoon1 from '../assets/paul-cartoon-1.png'
import SlidesMounts from './KodakCarousel/SlidesMounts.astro'
---
<section id="home" class="grid min-h-screen w-full place-items-center scroll-mt-24 pt-12">
	<SlidesMounts/>
</section>