---
import PaulCartoon1 from '../assets/paul-cartoon-1.png'
---
<section id="home" class="grid min-h-screen w-full place-items-center scroll-mt-24 pt-12">
	<img src={PaulCartoon1.src} alt="Ilustración de Paul" class="h-auto max-w-[min(560px,90vw)]" />
</section>